# 環境変数
.env
.env.example

# ユーザーデータ
# data/

# キャッシュと一時ファイル
__pycache__/
*.py[cod]
*$py.class
.streamlit/secrets.toml
.ipynb_checkpoints

# システムファイル
.DS_Store
Thumbs.db

# venvを無視
venv/
.venv/

./devcontainer
apitest.py

# 設定ファイル
# 会社別設定
/data/companies/*/settings.json
/data/companies/*/faq.csv
/data/companies/*/history.csv
data/companies/*/faq_with_embeddings.pkl

# 設定ファイル
#/data/*.db
*.json
